{% extends "base.html" %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.picsum.photos/id/1029/4887/2759.jpg?hmac=uMSExsgG8_PWwP9he9Y0LQ4bFDLlij7voa9lU9KMXDE" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.picsum.photos/id/1060/5598/3732.jpg?hmac=31kU0jp5ejnPTdEt-8tAXU5sE-buU-y1W1qk_BsiUC8" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      Clarusway Bootcamp
    </div>
    <div class="card-body">
      <h5 class="card-title">Full Stack Development</h5>
      <p class="card-text">Frontend and Backend Course</p>
      <a href="{% url 'course' %}" class="btn btn-primary">Go Course Details</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

{% endblock content %}